@font-face {
    font-family: 'OpenSans';
    src: url('open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f9fafc;
    font-family:'OpenSans';
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#title {
    font-size: .8rem;
    color: #000;
    font-weight: bolder;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}
li a{
    text-decoration: none;
    color: #69696a;
    font-size: .8rem;
}
.button {
    background-color: #000;
    color: #fff;
    font-family: 'OpenSans',Arial, Helvetica, sans-serif;
    font-size: .8rem;
    width: 90%;
    height: 2rem;
    border-radius: 50px;
    border: none;
}    
#hire-us {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 360%);
}
#scroll-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}
h1 {
    font-size: 1rem;
    padding-top: 50px;

}
blockquote {
    border-left: 1px solid #69696a;
    margin: 1em 0px;
    padding: .25em 5px;
    font-size: .8rem;
    color: #69696a
}
blockquote:before {
    color: #69696a;
    font-size: .8rem;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
